<th>{{ displayname }}</th>
<td ng-switch on="display">
    <span ng-switch-when="readonly">{{ readonly }}</span>
    <select
        ng-switch-when="select"
        ng-model="listcontroller.edititem[field.name]"
        ng-options="v[0] as v[1] for v in field.choices">
    </select>
    <span ng-switch-when="autocomplete">
      <span mass-autocomplete>
        <input ng-model="listcontroller.edititem[field.name]"
               mass-autocomplete-item="field.autocomplete">
      </span>
    </span>
    <input type="text"
        ng-switch-default
        ng-model="listcontroller.edititem[field.name]"></input>
</td>
