env.ini
.coverage
*.sassc
*.sqlite3
*.pyc
*.pid
*.db
*.swp
*.orig
*.rej
*.tar
*.tgz
*.bz2
*.zip
*.gz
*.pdf
*.ps
*.csv
*.log
nohup.out

/.tox/
/dist/
/build/
/htmlcov/
/node_modules/
/caspy/static/bower_components/
/*.egg-info/
/docs/_build
/manage.py
