table.transaction {
    table-layout: fixed;
}

col.xact-date { width: 6em; }
col.xact-description { width: 14em; }
col.split-number { width: 4em; }
col.split-account { width: 17em; }
col.split-status { width: 7em; }
col.split-amount { width: 5em; }

.amount {
    text-align: right;
}

.status {
    text-align: center;
}

div[csp-transaction-edit] input {
    width: 100%;
}

[ng-click] {
    cursor: pointer;
}
