<md-sidenav class="md-sidenav-left md-whiteframe-z2 layout-padding" md-is-locked-open="1">
    <div class="buttons" ng-include="'partials/generic/buttons.html'"></div>
    <div gen-edit-pane
        ng-include="'partials/generic/edit.html'">
    </div>
</md-sidenav>
<md-content md-scroll-y layout-padding flex>
    <table id="csp-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in listcontroller.books"
                ng-include="'partials/book/book-item.html'"
                ng-click="listcontroller.select(item)">
            </tr>
        </tbody>
    </table>
</md-content>
