{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="caspy">
    <head>
        <meta charset="utf-8">
        <title>Caspy</title>
        <link rel="stylesheet"
            href="{% static 'bower_components/angular-material/angular-material.min.css' %}"></script>
         <link rel="stylesheet"
            href="{% static 'css/caspy.css' %}">
        <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
        <script>
            /* inject a constant object */
            (function(){
                angular.module('caspy.server', [])
                    .constant('Constants', Object.freeze({
                        'apiRootUrl': '{% url "api-root" %}',
                        'partialsRoot': '{% static 'partials/' %}'
                    }));
            })();
        </script>
        <script src="{% static 'js/caspy.js' %}"></script>
        <script src="{% static 'js/api.js' %}"></script>
        <script src="{% static 'js/currency.js' %}"></script>
        <script src="{% static 'js/book.js' %}"></script>
        <script src="{% static 'js/accounttype.js' %}"></script>
        <script src="{% static 'js/account.js' %}"></script>
        <script src="{% static 'js/transaction.js' %}"></script>
        <script src="{% static 'js/split.js' %}"></script>
        <script src="{% static 'js/generic.js' %}"></script>
        <script src="{% static 'js/choice.js' %}"></script>
        <script src="{% static 'js/ui.js' %}"></script>
    </head>
    <body layout="column" flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button>
                    <a href="#/book/"> Books </a>
                </md-button>
                <md-button>
                    <a href="#/menu/"> Settings </a>
                </md-button>
            </div>
        </md-toolbar>
        <div ng-view layout="row" flex></div>
    </body>
</html>
