{% load staticfiles %}
{% load assets %}
<!doctype html>
<html lang="en" ng-app="caspy">
    <head>
        <meta charset="utf-8">
        <title>Caspy</title>
        <link rel="stylesheet"
            href="{% static 'caspy/static/bower_components/angular-mass-autocomplete/massautocomplete.theme.css' %}">
        <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-mass-autocomplete/massautocomplete.min.js' %}"></script>
        <script>
            /* inject a constant object */
            (function(){
                angular.module('caspy.server', [])
                    .constant('Constants', Object.freeze({
                        'apiRootUrl': '{% url "api-root" %}',
                        'partialsRoot': '{% static 'partials/' %}'
                    }));
            })();
        </script>
        {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body>
        <a href="#/menu/">Menu</a>
        <div ng-view></div>
    </body>
</html>
